
.center {
  display: block;
  margin-left: 200px;
  margin-right: auto;
  width: auto;
}
a:hover {
background-color: gold;
}

li:nth-child(2) {
    background: grey;
}

li:nth-child(4){
    background: grey;
}

.navbar {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}


.navbar a{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 16px;
    color:white;
    padding: 21px 15px;
    text-decoration: line;
}

section{

    font-size: 40px;
}

body {
    background-color: grey;
    margin: 0;
}

.topdist {
padding-top: 35px;
}

.imagetopdist {
    padding-top: 60px;
}

.imgsize {
    height: 15px;
    text-align: right;
}